/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/MasenyaTask3Prj.java/nbproject/private/
/MasenyaTask3Prj.java/build/
/Ifstatements/nbproject/private/
/Ifstatements/build/
/Registration and login/nbproject/private/
/POE_pt1/target/
/POE_RegAndLogin/nbproject/private/
/POE_RegAndLogin/build/
/POE_RegAndLogin/dist/
